<extend name="Public/header"/>
<block name="main">
		<div class="fake-head pad732 fs40">
			<span></span>
			我的下级经销商
		</div>
		<div class="fake-body bot1">
			<div class="shop-body">
				<div class="shop-list">
					<volist name="companylist" id="comp">
						<a class="shop-item" href="{:U('Company/company',array('id'=>$comp['id']))}">
							<span>
							{$comp.name}
							</span>
							<span class="fr">{$comp.wxcode}</span>
							<!--
							<if condition="$comp['class'] eq 1">
								<i class="shop-item1"></i>
							<elseif condition="$comp['class'] eq 2"/>
								<i class="shop-item2"></i>
							<elseif condition="$comp['class'] eq 3"/>
								<i class="shop-item3"></i>
							<elseif condition="$comp['class'] eq 4"/>
								<i class="shop-item4"></i>
							<elseif condition="$comp['class'] eq 5"/>
								<i class="shop-item5"></i>
							</if>
							-->
						</a>
					</volist>
				</div>
			</div>
			<if condition="empty($companylist)">
				<span style="font-size:40px;padding:0px 20px;">您还没有下级经销商或者还没通过审核。</span>
			</if>
		</div>
</block>