<extend name="Public/header"/>
<block name="main">
		<div class="fake-head pad732 fs40">
			<span></span>
			{$company.name}
		</div>
		<div class="fake-body bot1">
			<!--<div class="result-img" style="padding-top:50px;transform: translateY(56px);">
				<img src="/Uploads/{$company.tel}"/>
			</div>-->

			<div class="shop-body" style="padding-bottom:0px;padding-top:40px;">
				<div class="shop-list fs40">
					<a class="shop-item">
						<span>店名</span>
						<span class="fr">{$company.name}</span>
					</a>
					<a class="shop-item">
						<span>负责人</span>
						<span class="fr">{$company.boss}</span>
					</a>
					<a class="shop-item">
						<span>地址</span>
						<span class="fr">{$company.address}</span>
					</a>
					<a class="shop-item">
						<span>上级经销商</span>
						<span class="fr">{$company.pwxcode}</span>
					</a>
					<a class="shop-item">
						<span>代理期限</span>
						<span class="fr">{$company.b_time}--{$company.e_time}</span>
					</a>
				</div>
			</div>

			<div class="shop-body" style="padding-bottom:0px;padding-top:40px;">
				<div class="shop-list fs40">
					<a class="shop-item">
						<span>手机号</span>
						<span class="fr">{$company.wxcode}</span>
					</a>
					<if condition="empty($_REQUEST['ccomp'])">
						<a class="shop-item" href="{:U('Company/resetpass')}">
							<span>修改密码</span>
							<span class="fr">></span>
						</a>
					</if>
				</div>
			</div>

		</div>
</block>
<block name="script">
	<script type="text/javascript">
		if (navigator.geolocation) {
    		navigator.geolocation.getCurrentPosition(callback);
    	}
    	function callback( res ) {
    		console.log(res);
    	}

    	$(".go-there").on('click',function () {
    		var lat = "{$company['lat']}";
    		var lnt = "{$company['lnt']}";
    		if (lat && lnt) {
    			sessionStorage.setItem("end",JSON.stringify({"lat":lat,"lnt":lnt}));
    			window.location.href="{:U('Address/address')}";
    		}else{
    			alert("未找到地址！");
    		}
    	});

    	<if condition="!empty($company['wxcode'])">
			var city = sessionStorage.getItem('ci');
			var pro = "{$company.provance}";
			if (city && (pro.indexOf(city) != -1 || city.indexOf(pro) != -1)) {
				$(".disn").show();
			}
		</if>
	</script>
</block>