<extend name="Public/header"/>
<block name="main">
		<div class="fake-head pad732 fs40">
			<span></span>
			{$_REQUEST['provance']}
		</div>
		<div class="fake-body bot1">
			<div class="shop-body">
				<div class="shop-list">
					<volist name="companylist" id="comp">
						<a class="shop-item" href="{:U('Company/company',array('id'=>$comp['id']))}">
							<span>
							{$comp.name}
							<!--代理产品：{$comp.paygoods}-->
							</span>
							<!--
							<if condition="$comp['class'] eq 1">
								<i class="shop-item1"></i>
							<elseif condition="$comp['class'] eq 2"/>
								<i class="shop-item2"></i>
							<elseif condition="$comp['class'] eq 3"/>
								<i class="shop-item3"></i>
							<elseif condition="$comp['class'] eq 4"/>
								<i class="shop-item4"></i>
							<elseif condition="$comp['class'] eq 5"/>
								<i class="shop-item5"></i>
							</if>
							-->
						</a>
					</volist>
				</div>
			</div>
			<if condition="empty($companylist)">
				<span style="font-size:40px;padding:0px 20px;">当前地区没有经销商，请选择其他地区。</span>
			</if>

			<div class="fake-footer fs35">
				<p>云南西双版纳州古茶山茶业有限公司</p>
				<p>勐海龙园茶厂<span>电话：0691-5170999</span></p>
				<p>滇ICP备15000438号</p>
			</div>
		</div>
</block>