<extend name="Public/header"/>
<block name="main">
		<div class="fake-head pad732 fs40">
			<span></span>
			选择城市
		</div>
		<div class="fake-body bot1">
		    <div class="shop-body">
				<div class="city-city fs35">
					<div class="city-location">
						定位城市：
						<span class="city0">天津</span>
					</div>
					<div class="city-hot">
						<p>热门城市</p>
						<ul>
							<li>北京</li>
							<li>上海</li>
							<li>广州</li>
							<li>深圳</li>
							<li>北京</li>
							<li>上海</li>
							<li>广州</li>
							<li>深圳</li>
							<li>北京</li>
							<li>上海</li>
							<li>广州</li>
							<li></li>
						</ul>
					</div>
				</div>
				<div class="city-select"> 
					<div class="select-ab">
						<span>A</span>
						<i></i>
					</div>
					<div class="select-item hid0">
						<p>安徽</p>
						<p>安徽</p>
						<p>安徽</p>
						<p>安徽</p>
					</div>
				</div>
				<div class="city-select"> 
				<div class="select-ab">
					<span>B</span>
					<i></i>
				</div>
				<div class="select-item hid0">
					<p>北京</p>
					<p>北京</p>
					<p>北京</p>
					<p>北京</p>
				</div>
			</div>
			</div>
			<div class="fake-footer fs35">
				<p>云南西双版纳州古茶山茶业有限公司</p>
				<p>勐海龙园茶厂<span>电话：0691-5170999</span></p>
				<p>滇ICP备15000438号</p>
			</div>
		</div>
</block>