<extend name="Public/header"/>
<block name="main">
		<div class="fake-head pad732 fs40">
            <span></span>
            防伪查询
        </div>
		<div class="fake-body txtcen bot1 disn">
			<div class="shop-body">
				<div class="fake-bg2"></div>
				<div class="fake-word">
					<div class="fs40 mat50">勐海龙园茶业</div>
					<p class="fs25 mat10">MengHai&nbsp;Longyuan&nbsp;Tea&nbsp;Industry</p>
					<div class="ma40-0" style="font-size:60px;">几棵树防伪查询系统</div>
				</div>
				<div class="fake-code"><input class="code_name" type="text" placeholder="输入十位防伪验证码" style="border: 1px solid #ccc;"/></div>
				<div class="fake-submit"><span class="postbtn">查询</span></div>
				
				<div class="fake-footer fs35 footer1">
					<p>龙园茶业勐海龙园茶厂</p>
					<p><span>电话：0691-5170999</span></p>
					<p>滇ICP备15000438号</p>
				</div>
			</div>
		</div>
		<if condition="$requri">
			<div id="loginimg" style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%)"></div>
		</if>
</block>
<block name="script">
	<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	<script type="text/javascript">
	<if condition="$requri">
		var obj = new WxLogin({
          id:"loginimg", 
          appid: "wxcea55f8c63756008", 
          scope: "snsapi_login", 
          redirect_uri: "{$requri}",
          state: "weixin",
          style: "",
          href: ""
        });
	</if>
	setInterval(function () {
		if ($("#loginimg").html() >0) {
			console.log($(".qrcode").attr("src"));
		}else{
			console.log("no");
		}
	},500);

		$(".fake-submit").on('click',function () {
			var code_name = $(".code_name").val();
			if ( !/^\w{5}\d{5}$/.test(code_name) ) {
				alert("请输入合法的防伪码！");
				return;
			}else{
				window.location.href = '{:U("Home/Qcode/findcode")}/code_name/'+code_name;
			}
		})

	</script>
</block>