<extend name="Public/header"/>
<block name="main">
		<div class="fake-head pad732 fs40">
            <span></span>
            防伪查询
        </div>
		<div class="fake-body txtcen bot1">
			<div class="shop-body">
				<div class="fake-bg2"></div>
				<div class="fake-word">
					<div class="fs40 mat50">勐海龙园茶业</div>
					<p class="fs25 mat10">MengHai&nbsp;Longyuan&nbsp;Tea&nbsp;Industry</p>
					<div class="fs40 ma40-0">几棵树防伪查询系统</div>
				</div>
				<div class="fake-code"><input class="code_name" type="text" placeholder="输入十位防伪验证码"/></div>
				<div class="fake-submit"><span class="postbtn">查询</span></div>
				
				<div class="fake-footer fs35 footer1">
					<p>云南西双版纳州古茶山茶业有限公司</p>
					<p>勐海龙园茶厂<span>电话：0691-5170999</span></p>
					<p>滇ICP备15000438号</p>
				</div>
			</div>
		</div>		
</block>
<block name="script">
	<script type="text/javascript">
		$(".postbtn").on('click',function () {
			var code_name = $(".code_name").val();
			if ( !/^\w{5}\d{5}$/.test(code_name) ) {
				alert("请输入合法的防伪码！");
				return;
			}else{
				window.location.href = '{:U("Home/Qcode/findcode")}/code_name/'+code_name;
			}
		})

	</script>
</block>