<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
		<link rel="stylesheet" href="jx.css" />
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="jx.js"></script>
		<title>天津</title>
	</head>
	<body>
		<div class="fake-head pad732 fs40">
			<span></span>
			天津
		</div>
		<div class="fake-body bot1">
			<div class="shop-body">
				<div class="shop-list">
					<div class="shop-item">
						<span>和平普洱专营店</span>
						<i class="shop-item1"></i>
					</div>
					<div class="shop-item">
						<span>和平普洱专营店</span>
						<i class="shop-item2"></i>
					</div>
					<div class="shop-item">
						<span>和平普洱专营店</span>
						<i class="shop-item3"></i>
					</div>
					<div class="shop-item">
						<span>和平普洱专营店</span>
						<i class="shop-item4"></i>
					</div>
					<div class="shop-item">
						<span>和平普洱专营店</span>
						<i class="shop-item5"></i>
					</div>
					<div class="shop-item">
						<span>和平普洱专营店</span>
						<i class="shop-item6"></i>
					</div>
				</div>	
			</div>
			<div class="fake-footer fs35">
				<p>云南西双版纳州古茶山茶业有限公司</p>
				<p>勐海龙园茶厂<span>电话：0691-5170999</span></p>
				<p>滇ICP备15000438号</p>
			</div>
		</div>
	</body>
</html>
