<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1"/>
        <link rel="stylesheet" href="__WEBPUBLIC__/Wap/css/jx.css" />
        <script type="text/javascript" src="__WEBPUBLIC__/Home/js/jquery.js"></script>
        <script type="text/javascript" src="__WEBPUBLIC__/Home/js/jx.js"></script>
        <title>防伪查询</title>
        <style type="text/css">

        </style>
    </head>
    <body>
        <block name="main"></block>
    </body>
    <block name="script"></block>
</html>